body{
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    background-size:1920px 1080px;
}


/* 登录框 */
.one{
    width: 400px;
    height: auto;
    /* border: 1px solid red; */
    margin: 0 auto;  
    margin-top: 15%;
    text-align: center;
    background: #ffffff30;
    padding: 20px 50px;
    border-radius: 15px;
}

.one h1{
    font-size: 32px;
    color: white;
}

.one .form .item {
    margin-top: 10px;
}

.one .form .item input{
    width: 200px;
    border: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 5px 10px;
    background: #ffffff00;
    color: white;
    font-size: 20px;
}

.one button{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 180px;
    height: 30px;
    background-color: #FFFFFF20;
    color: white;
}