*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-image: url(../img/8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav{
    height: 50px;
    width: 1920px;
    background-color: #CCFFFF50;
    z-index: 10;
}

.nav li{
    float: left;
    position :relative;
    z-index: 10;
}

.nav ul li a,.nav ul li a:hover {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 150px;
    color: black;
    border-width: 1px 1px 0 0;
    background: #CCCCCC00;
    /* height：50px; */
    line-height: 50px;
    font-size: 17px;
    margin-left: 30px;
    border-radius: 30px;
}

.nav ul li:hover a {
    color: #fff;
    background: #CCCCFF30;
}

.nav ul li ul {
    display: none;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    top: 51px;
    left: 0;
    width: 150px;
}

.nav ul li:hover ul li a {
    display: block;
    background: #CCFFFF60;
    color: #000;
}

.nav ul li:hover ul li a:hover {
    background: #aaffff;
    color: #000;
}

/* 登录 */
#denglu{
    width:40px;
    height: 50px;
    text-align: center;
    position: relative;
    top:-38px;
    left: 1850px;
    z-index: 8;
}

#denglu a:link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#denglu a:hover{
    color:aqua;
}

/* 中间 */
#mztall{
    width: 1200px;
    height: auto;
    border-radius: 25px;
    /* border: 2px solid yellow; */
    position: relative;
    top: 200px;
    left: 350px ;
    background-color: #ffffff70;
    display: table-cell;
    text-align: center;
}

/* 文字 */
h1 a{
    background-color: #ffffff70;
    width: auto;
    height: auto;
    border-radius: 10px;
    color: rgb(45, 211, 197);
    text-align: center;
    position: relative;
    top: 20px;
    text-decoration: none;
}

h1 a:hover{
    background-color: white;
    color: aquamarine;
}

p{
    background-color: #ffffff70;
    width: 800px;
    height: auto;
    border-radius: 15px;
    color:wheat;
    margin: 0 auto;
    font-size: 24px;
    margin-top: 10px;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}

/* 照片 */
img{
    width: 1200px;
    height: auto;
    border: 10px solid #ffffff00;
    border-radius: 20px;
}